Repository MinaSameh1/Dawyni-api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

ignore .env
  .env
  .gitignore
Due: none

testing something out with firebase
  src/api/server/firebase.ts
  src/api/user/user.controller.ts
  src/api/user/user.service.ts
  src/index.ts
Due: prettier --write, eslint --cache --fix

added randomint for med image
  db_backup/move_data_v2.py
Due: none

changed eslitn with eslint_d
  package.json
  pnpm-lock.yaml
Due: prettier --write

Added CreateUser using Firebase
  pnpm-lock.yaml
  src/api/server/firebase.ts
  src/api/user/user.controller.ts
  src/api/user/user.model.ts
  src/api/user/user.service.ts
  src/app.ts
  src/index.ts
  src/middleware/deseralizeUser.ts
  src/utils/constants/default.ts
  src/utils/db.ts
  src/utils/firebase.ts
  src/utils/jwt.utils.ts
Due: prettier --write, eslint --cache --fix

added fb json file to ignore list
  .gitignore
Due: none

removed unused dep
  db_backup/requirements.txt
Due: none

Changed collection name
  db_backup/move_data_v2.py
Due: none

added json output for db.
  db_backup/move_data_v2.py
Due: none

misc: format
  src/app.ts
Due: prettier --write, eslint --cache --fix

update
  db_backup/move_data_v2.py
  src/api/drug/drug.controller.ts
  src/api/drug/drug.model.ts
  src/api/drug/drug.router.ts
  src/api/drug/drug.schema.ts
  src/api/drug/drug.service.ts
  src/api/user/user.service.ts
Due: prettier --write, eslint --cache --fix

added pagination
  src/api/drug/drug.controller.ts
Due: prettier --write, eslint --cache --fix

fixed bug with pagination and lean
  src/api/drug/drug.service.ts
Due: prettier --write, eslint --cache --fix

.
  src/api/drug/drug.controller.ts
Due: prettier --write, eslint --cache --fix

banned some meds.
  db_backup/move_data_v2.py
Due: none

Added schema
  src/api/drug/drug.schema.ts
Due: prettier --write, eslint --cache --fix

added forms route.
  db_backup/move_data_v2.py
  src/api/drug/drug.controller.ts
  src/api/drug/drug.router.ts
  src/api/drug/drug.service.ts
Due: prettier --write, eslint --cache --fix

added postman collection.
  tests/Final Project API.postman_collection.json
Due: prettier --write

misc: Prettified Code!
  tests/Final Project API.postman_collection.json
Due: prettier --write

added filter by query.
  src/api/drug/drug.controller.ts
  src/api/drug/drug.service.ts
Due: prettier --write, eslint --cache --fix

added getbyforms.
  tests/Final Project API.postman_collection.json
Due: prettier --write

debug.
  .nvim/launch.json
  .vscode/launch.json
Due: prettier --write

added find by id
  src/api/drug/drug.controller.ts
  src/api/drug/drug.router.ts
  src/api/drug/drug.schema.ts
  src/api/drug/drug.service.ts
  tests/Final Project API.postman_collection.json
Due: prettier --write, eslint --cache --fix

.
  .nvim/launch.json
  .vscode/launch.json
  tests/Final Project API.postman_collection.json
Due: prettier --write

Added middleware to log request path,type and returned status code using Pino.
  src/app.ts
  src/middleware/logReqs.ts
Due: prettier --write, eslint --cache --fix

Almost finished update and del, needs testing
  src/api/drug/drug.controller.ts
  src/api/drug/drug.router.ts
  src/api/drug/drug.schema.ts
  src/api/drug/drug.service.ts
Due: prettier --write, eslint --cache --fix

rename
  src/api/drug/drug.router.ts
Due: prettier --write, eslint --cache --fix

Added middleware that logs requests
  src/middleware/logReqs.ts
Due: prettier --write, eslint --cache --fix

added mongodb con (pass) is fake
  db_backup/move_data_v2.py
Due: none

moving to heroku
  package.json
  src/utils/db.ts
  src/utils/firebase.ts
  src/utils/logger.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

misc: Prettified Code!
  tsconfig.json
Due: prettier --write

move to heroku
  src/utils/constants/default.json
  src/utils/constants/default.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

move to heroku
  src/app.ts
  src/utils/swagger.ts
Due: prettier --write, eslint --cache --fix

Fixes and graceful shutdown
  config/default.json
  config/developement.json
  config/production.json
  package.json
  src/app.ts
  src/index.ts
  src/utils/db.ts
  src/utils/firebase.ts
  src/utils/jwt.utils.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

Moved cross-env to dep instead of devDep
  package.json
Due: prettier --write

Update main.yml
  .github/workflows/main.yml
Due: prettier --write

Added workflow for deploying to heroku
  .github/workflows/deploy.yml
Due: prettier --write

Update deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md,yml}
  eslint --cache --fix: any of: **/*.{js,jsx,ts,tsx}
