Repository MinaSameh1/Dawyni-api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

finished notifications
  src/api/cart/cart.controller.ts
  src/utils/fbMsg.ts
Due: prettier --write, eslint --cache --fix

misc: message format
  src/api/cart/cart.controller.ts
Due: prettier --write, eslint --cache --fix

Fixed issue with buying with no cart
  src/api/cart/cart.service.ts
Due: prettier --write, eslint --cache --fix

attempt to fix bug for not adding item?
  src/api/cart/cart.controller.ts
  src/api/cart/cart.service.ts
Due: prettier --write, eslint --cache --fix

Fixed bug cart
  src/api/cart/cart.service.ts
Due: prettier --write, eslint --cache --fix

Removed null from result of the tesseract
  src/api/scanner/scanner.controller.ts
Due: prettier --write, eslint --cache --fix

Fixed response returning null
  src/api/scanner/scanner.controller.ts
Due: prettier --write, eslint --cache --fix

Fixed issue with cart not adding item
  src/api/cart/cart.service.ts
Due: prettier --write, eslint --cache --fix

f
  src/api/user/user.router.ts
Due: prettier --write, eslint --cache --fix

Fixed nosql injection xd
  src/api/scanner/scanner.controller.ts
Due: prettier --write, eslint --cache --fix

Attempting
  src/api/session/session.router.ts
  src/api/user/user.schema.ts
Due: prettier --write, eslint --cache --fix

Update README.md
  README.md
Due: prettier --write

Fixing spghetti code
  src/api/drug/drug.service.ts
  src/api/scanner/scanner.controller.ts
  src/api/session/session.router.ts
  src/utils/utils.ts
Due: prettier --write, eslint --cache --fix

refactor: made some response codes and msgs be more accurate
  src/api/cart/cart.controller.ts
  src/api/drug/drug.controller.ts
  src/api/user/user.controller.ts
Due: prettier --write, eslint --cache --fix

misc: added 3 whole spaces
  README.md
Due: prettier --write

fixed app import.
  src/api/drug/drug.service.ts
Due: prettier --write, eslint --cache --fix

Added img
  api_dig.jpg
Due: none

misc: Prettified Code!
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md,yml}
  eslint --cache --fix: any of: **/*.{js,jsx,ts,tsx}
