Repository MinaSameh1/Dawyni-api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.yml:

'**/*.{js,jsx,ts,tsx,json,md,yml}': 'prettier --write'
'**/*.{js,jsx,ts,tsx}': 'eslint --cache --fix'

test workflow
  src/app.ts
Due: prettier --write, eslint --cache --fix

Update deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

Moved from npm to pnpm
  .github/workflows/deploy.yml
Due: prettier --write

updated.
  pnpm-lock.yaml
Due: none

added basic test
  package.json
  pnpm-lock.yaml
  tests/config/test.js
  tests/config/test.spec.ts
  tests/config/test.ts
  tests/server/checkhealth.spec.ts
Due: prettier --write, eslint --cache --fix

updated
  .github/workflows/deploy.yml
Due: prettier --write

misc: Prettified Code!
  tests/config/test.spec.ts
Due: prettier --write, eslint --cache --fix

update
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

.
  tests/drugs/drug.route.spec.ts
Due: prettier --write, eslint --cache --fix

Changed some scripts, added supertest
  package.json
Due: prettier --write

misc: format
  .github/workflows/deploy.yml
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

wraped the disconnect with try catch
  src/utils/db.ts
Due: prettier --write, eslint --cache --fix

added get test
  tests/drugs/drug.route.spec.ts
Due: prettier --write, eslint --cache --fix

added paths
  jest.config.js
  tests/server/checkhealth.spec.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

.
  package.json
Due: prettier --write

.
  package.json
  src/api/drug/drug.controller.ts
  src/api/drug/drug.router.ts
  src/api/drug/drug.schema.ts
Due: prettier --write, eslint --cache --fix

added search with like name
  src/api/drug/drug.controller.ts
Due: prettier --write, eslint --cache --fix

Update main.yml
  .github/workflows/main.yml
Due: prettier --write

added commet
  .github/workflows/main.yml
Due: prettier --write

save
  src/api/drug/drug.schema.ts
  tests/drugs/drug.route.spec.ts
Due: prettier --write, eslint --cache --fix

return one drug on get by id
  src/api/drug/drug.controller.ts
  src/api/drug/drug.model.ts
  src/api/drug/drug.router.ts
  src/api/drug/drug.schema.ts
  src/app.ts
Due: prettier --write, eslint --cache --fix

sort
  src/api/drug/drug.service.ts
Due: prettier --write, eslint --cache --fix

.
  src/api/drug/drug.controller.ts
  src/api/drug/drug.model.ts
  src/api/drug/drug.service.ts
  tests/drugs/drug.route.spec.ts
Due: prettier --write, eslint --cache --fix

misc: Prettified Code!
  tests/drugs/drug.route.spec.ts
Due: prettier --write, eslint --cache --fix

fixed issue with put, finished test for drug except one
  src/api/drug/drug.controller.ts
  src/api/drug/drug.service.ts
  tests/drugs/drug.route.spec.ts
Due: prettier --write, eslint --cache --fix

Update README.md
  README.md
Due: prettier --write

misc: Prettified Code!
  README.md
Due: prettier --write

added tesseractjs
  package.json
  pnpm-lock.yaml
  src/api/scanner/scanner.controller.ts
  src/api/scanner/scanner.router.ts
Due: prettier --write, eslint --cache --fix

fixed test
  tests/drugs/drug.route.spec.ts
Due: prettier --write, eslint --cache --fix

limit memory
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/api/scanner/scanner.controller.ts
Due: prettier --write, eslint --cache --fix

misc: Prettified Code!
  .vscode/settings.json
Due: prettier --write

fixed some issues, preparing to use fb
  src/api/drug/drug.router.ts
  src/api/user/user.controller.ts
  src/api/user/user.model.ts
  src/api/user/user.router.ts
  src/api/user/user.schema.ts
  src/api/user/user.service.ts
  src/utils/firebase.ts
  src/utils/jwt.utils.ts
Due: prettier --write, eslint --cache --fix
